@import url('https://fonts.google.com/css2?family=Ubuntu&display==swap');
*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
}
.nav-list{
    width: 50%;
    /* background-color: black; */
    display: flex;
    align-items: center;
   
}

.nav-list li{
   list-style: none;
   padding: 26px 30px;
}

.nav-list li a{
   text-decoration: none;
   color: white;
   font-size: 20px;
   font-family: 'Ubuntu', sans-serif;
}

.nav-list li a:hover{
    text-decoration: none;
    color: grey;
    text-decoration: underline;
 }

.rightNav{
    /* background-color: blueviolet; */
    width: 50%;
    text-align: right;
    padding: 0 23px
}

.logo{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 100%;
    border: 3px solid white;
    border-radius: 500px;
    background-color: white;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background{
    background: rgba(0,0,0,0.7) url('../img/blll.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin:auto;
    height: 80%;
}

.firstHalf{
    width: 80%;
    display: column;
    justify-content: center;
}

.secondHalf{
  width: 30%;
}

.secondHalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
    background-color: white;
  }

  .text-big{
    font-size: 41px;
  }

  .text-small{
     font-size: 18px;
  }

  .btn-sm{
      padding: 3px 10px;
      vertical-align: middle;
      font-size: 16px;
  }

  .btn{
      padding: 6px 10px;
      margin: 8px 3px;
      border: 2px solid white;
      border-radius: 8px;
      background: none;
      color: white;
      cursor: pointer;
      font-family: 'Ubuntu', sans-serif;
      font-size: 20px;
  }

  .section{
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      max-width: 80%;
      margin: auto;
      font-family: 'Ubuntu', sans-serif;
      padding: auto;
  }

  .section-left{
    flex-direction: row-reverse;
}

  .paras{
      padding: 10px 65px;
  }

  .sectionTag{
      padding: 16px 0;
  }

 .sectionSubTag{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 19px;
 }

 .thumbnail img:hover{
    
    width: 270px;
    height: 10;
 }

 .contact{
     background-color: #e0cfbd;
     height: 700px;
 }

 .text-center{
     text-align: center;
     padding: 30px;
     font-family: 'Ubuntu', sans-serif;
     font-size: 35px;
 }
 .form{
     max-width: 1200px;
     margin: 25px auto;
 }
 .form-input{
     margin: 14px 0;
     padding: 5px 13px;
     width :100%;
     font-size: 19px;
     border: 2px solid grey;
     border-radius: 6px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .btn-dark{
     color: black;
     border: 2px solid grey;
 }
 .text-footer{
     text-align: center;
     padding: 30px 0;
     font-family: 'Ubuntu', sans-serif;
     display: flex;
     justify-content: center;
     color: white
}